<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <center>
        <h1 class="list-group-item list-group-item-warning">DISPLAY_WEBPAGES</h1>
        <table class="table table-bordered table-striped table-success">
                <tr class="thead-dark">
                    <th>id</th>
                    <th>topic_name</th>
                    <th>Name</th>
                    <th>url</th>
                    <th>email</th>
                </tr>
                {% for wo in webpages %}
                    <tr>
                        <td>{{wo.id}}</td>
                        <td>{{wo.topic_name}}</td>
                        <td>{{wo.name}}</td>
                        <td>{{wo.url}}</td>
                        <td>{{wo.email}}</td>
                    </tr>
                {% endfor %}
        </table>
    </center>
</body>
</html>